<head>
  <style>
  table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 8px;
    text-align: left
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  </style>
</head>
<body>


<h2><%= @question.title %></h2>
<div class="col-md-12">
  <div class="group">
    <%= link_to("回答问题", new_question_answer_path(@question), class: "btn btn-default pull-right") %>
    <br>
    <% if current_user && current_user == @question.user %>
      <%= link_to("Edit", edit_question_path(@question), class: "btn btn-default pull-right") %>
    <% end %>
    <br>
  </div>

  <table class="table">
    <tr>
      <th><%= @question.user.email %> asks at <%= @question.created_at %></th>
    </tr>
    <tr>
      <td><%= @question.description %></td>
    </tr>
  </table>

<br>

<% @answers.each do |answer| %>
  <table class="table">
      <tr>
        <th><%= answer.user.email %> answers at <%= answer.created_at %></th>
      </tr>
        <tr>
          <td><%= answer.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

</body>
