<div class="col-md-5 col-md-offset-3">

    <h2>
        Settings for your profile
    </h2>
    <hr>
    <img src="<%= current_user.avatar.thumb %>" width="90" height="90">
    <!-- <%= gravatar_tag current_user.email, :size => 80, :default => avatar_url %> -->
    <%#= link_to("Upload a profile picture", class: "btn btn-default") %>

    <%= simple_form_for @user , :url => update_profile_account_settings_path, :method => :put do |f| %>
    <%= f.input :avatar, :label =>"Avatar" %>
    <hr>
    <%= f.input :username, :label =>"Username" %>
    <hr>
    <%= f.input :email, :label =>"Email" %>
    <hr>
    <%= f.input :hobbies, :label =>"Hobbies" %>
    <hr>
    <%= f.input :birthday, :label =>"Birthday" %>
    <hr>
    <%= f.input :selfintroduction, :label =>"About Me" %>
    <hr>
    <%= f.input :address, :label =>"Location" %>
    <hr>
    <%= f.label :gender %><br/>
    <%= f.label :gender, "Male", :value => "true"  %>
    <%= f.radio_button :gender, true %>
    <%= f.label :gender, "Female", :value => "false" %>
    <%= f.radio_button :gender, false %>
    <hr>
    <%= f.submit "SAVE SETTINGS", class: "btn btn-info" %>
    <% end %>
</div>