<div class="container">
      <div class="row">
        <div class="col-md-5  " >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= current_user.username %> </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                  <img src="<%= @user.avatar.thumb %>" width="90" height="90">
                </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Username</td>
                        <td><%= @user.username %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @user.email%></td>
                      </tr>
                      <tr>
                        <td>Hobbies</td>
                        <td><%= @user.hobbies %></td>
                      </tr>
                      <tr>
                        <td>Birthday</td>
                        <td><%= @user.birthday %></td>
                      </tr>
                      <tr>
                        <td>About Me</td>
                        <td><%= @user.selfintroduction %></td>
                      </tr>
                      <tr>
                        <td>Location</td>
                        <td><%= @user.address %></td>
                      </tr>
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td><%= gender_type %></td>
                      </tr>

                    </tbody>
                  </table>
                  <%= link_to("Edit profile", edit_profile_account_settings_path, class: "btn btn-info") %>
                  <%= link_to("Change Password", edit_user_registration_path, class: "btn btn-info") %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
