<div class="col-md-4 col-md-offset-4">
  <h1> Settings
    <%= gravatar_tag current_user.email, :size => 80, :default => avatar_url %>
  </h1>
  <hr>
  Username: <%= @setting.username %>
  <hr>
  Email   : <%= @setting.email %>
  <hr>
  Hobbies : <%= @setting.hobbies %>
  <hr>
  Birthday: <%= @setting.birthday %>
  <hr>
  About Me: <%= @setting.selfintroduction %>
  <hr>
  Location: <%= @setting.address %>
  <hr>
  Gender  : <%= gender_type %>
  <hr>
  <%= link_to("Edit profile", edit_account_setting_path(current_user), class: "btn btn-info") %>
</div>
