<table class="table table-boldered">
  <tr>
    <th>
      服务
    </th>
    <th>
      状态
    </th>
    <th>
      开始时间
    </th>
    <th>
      截止日期
    </th>
    <th>
      操作
    </th>
  </tr>
  <% @services.each do |service| %>
      <tr>
        <td>
          <%= service.title %>
        </td>
        <td>
          <%= service.status %>
        </td>
        <td>
          <%= render_formatted_time(service.order_date) %>
        </td>
        <td>
          <%= render_formatted_time(service.due_date) %>
        </td>
        <td>
          <%= link_to("续费", "#", class: "btn btn-sm btn-success") %>
        </td>
      </tr>
  <% end %>
</table>
