<div class="container">
  <%= render partial: "account/courses/top_bar", locals: { :course => @course } %>

  <div class="test-bg">
    <div class="container-fluid">
      <%= render_markdown_text(@post.article) %>
    </div>


  <div class="clearfix">
    <br><br>
  </div>

  <% @post.tasks.each_with_index do |task, index| %>
   <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        任务 <%= index + 1 %>
        <%= render_work_operate_buttons(task) %>
      </div>
       <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><%= render_markdown_text(task.description) %></li>
        <% if task.works.where(user_id: current_user.id).count > 0 %>
          <li class="list-group-item">
            <%= render_markdown_text(task.works.where(user_id: current_user.id).first.content) %>
          </li>
        <% end %>
      </ul>
   </div>
  <% end %>

  <%= render_prev_next_buttons(@post) %>
  </div>
</div>
