
<%= render :partial => "account/courses/top_bar", :locals => { :course => @course } %>

<h3><%= @course.title %></h3>

<h1> 讨论区 </h1>

<div class="col-md-12">
  <%= render :partial => "account/questions/search_bar" %>
  <br>
  <div class="group">
    <%= link_to("提问", new_account_course_question_path(@course), class: "btn btn-default pull-right") %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>#</td>
          <td><%= link_to(question.title, account_course_question_path(@course, question)) %></td>
          <td><%= question.description %></td>
          <td><%= question.user.email %></td>
          <td>


        <% if current_user && current_user == question.user %>
        <%= link_to("Edit", edit_account_course_question_path(@course, question), class: "btn btn-sm btn-default") %>
        <%= link_to("Delete", account_course_question_path(@course, question), class: "btn btn-sm btn-default", method: :delete, data: {confirm: "你确认要删除此问题吗?"}) %>
        <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>