<h2><%= @question.title %></h2>
<div class="col-md-12">
  <div class="group">
    <%= link_to("回答问题", new_account_course_question_answer_path(@course, @question), class: "btn btn-default pull-right") %>
    <br>
    <br>
  </div>

  <table class="table">
    <tr>
      <th><%= @question.user.email %> asks at <%= render_formatted_time(@question.created_at) %></th>
    </tr>
    <tr>
      <td><%= @question.description %></td>
    </tr>
  </table>

<br>

<% @answers.each do |answer| %>
  <table class="table">
      <tr>
        <th><%= answer.user.email %> answers at <%= answer.created_at %></th>
      </tr>
        <tr>
          <td><%= answer.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

</body>
