<br><br><br>
<div class="row course-benefit course-content-block">

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img923/5290/zBrAbG.png" alt="" class="img-circle">
        </div>

        <h3>课程目标</h3>
        <p>学会如何写 CRUD<br>深入体会 Rails 的 MVC<br>实作 Rails101 网站并部署到 Heroku</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7214/Nozz65.png" alt="" class="img-circle">
        </div>
        <h3 >适合对象</h3>
        <p>
            想提高自己变成能力的同学<br>
            想实作 Rails101 网站的同学<br>
            想深入了解 CRUD & RESTful 的同学</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7569/UBpHu7.jpg" alt="" class="img-circle">
        </div>

        <h3>课前准备</h3>
        <p>一台 Mac 电脑<br>一支笔和一本本子<br>大学四级以上英语水平</p>
    </div>

</div>
<br>
<hr>

<div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Rails 中级教程 - 课程简介
      </h2>
      <br></br>
      <p>本课程致力于更深入的挖掘 Rails 的运作流程，以及整个网站、甚至整个网络的数据流向。做出你自己想要的 Rails101 网站。
      </p>
      <p>
          Rails 是非常适合小团队做创业项目的，我想这个就源于它诞生的环境，就像 Rails 的作者 DHH 本人，它的创业项目 Basecamp 在初期的很多年里就是他自己一个开发者。而 Rails 不是高深的理论的产物，而是从 Basecamp 这个程序中抽出来的可以复用的代码。DHH 说过自己是一个工匠，不是一个工程师，Rails 为打造精美的产品的人而生。</p>
      <p>
          课程是以动手为主线的，要做的是 Rails101 讨论版网站。每一个 Rails 知识点的解释都是为了解决实际动手中遇到的一个个坎，从操作中学习 Ruby 语言，数据库操作，表单提交，http 基础，让你有一个生动直观的感受。</p>
      <p>
          欢迎你来到 Rails 开发世界，让我们一起手拉手走进互联网的蔚蓝世界吧。</p>
    </div>
  </div>
</div>
<br>
<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">教师简介</h2>
    <br><br>

      <div class="col-md-4">
          <img src="/images/haha.jpg" alt="" class="img-rounded">
      </div>

      <div class="col-md-8">
          <ul style="font-size:16px;">
              <li>郑伊廷（ Xdite ）</li>
              <li>Rocodev 、 Logdown 、Taipei Rails Meetup网站创始人。</li>
              <li>亚洲知名的Ruby on Rails的开发者。</li>
              <li>Xdite以软件敏捷开发实力著称，曾经领导开发过多个小中大型项目，皆如期准时上线。</li>
              <li>喜欢参加Hackathon ，曾以一个七小时开发的作品拿下 Facebook 2012 年的 World Hack 全球首奖。</li>
              <li>担任过多个国家 RubyConf 的讲者以及出版多本 Ruby on Rails 的教材。</li>
              <li>擅长Rails的开发，专案管理， MVP 实作以及 Growth Hack。</li>
              <li><%= link_to("http://blog.xdite.net", "http://blog.xdite.net") %></li>
          </ul>
      </div>
</div>
</div>
<br>
<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">课程 FAQ</h2>
     <br><br>

      <div class="faq-block">
          <h4>Q：我没有基础可以上这个课吗？</h4>

          <p>不可以。建议先把「环境配置」和 「Rails 初级教程」的课程先学过至少一遍。毕竟这是中级课程了。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：遇到问题不会做怎么办？</h4>

          <p>深呼吸～身为一个（未来的）职业程序员，遇到bug是很正常的事，仔细看看error的内容（其实就是英文），通常它会告诉你哪一步错了、少了什么，需要怎么做。真的无法解决，就拍照上slack询问吧。我们有线上助教会为您解答问题。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：学到一半不想学了会退费吗？</h4>

          <p>
              抱歉，线上课程一旦出售就不会退费哦。
              <br>
              在下单前请慎重思考三件事：
              <br>
              1、我是否愿意牺牲其他时间来用于学习编程？
              <br>
              2、我是否有强烈学会编程的欲望？
              <br>
              3、我是否能为自己的选择负责？
              <br>
              以上答案均为是，那么请放心下单。
          </p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：其他问题</h4>

          <p>请发送至邮箱 hackschoolcn@gmail.com 或 <a href="https://github.com/hackschoolcn/hackschool/issues" target=_new>留言</a> </p>
      </div>
</div>
</div>

<br>
<hr>

<h2 class="text-center">学员心得</h2>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<br><br>
 <div class="col-md-6">
    <div class="col-md-3">
       <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
    </div>

    <div class="col-md-9">
        <ul>
          <%= link_to("@panxiubin", "http://panxiubin-blog.logdown.com") %><br />
          原来 Rails 的架构是这样的，对 CRUD & RESTful 的更多认识，让我看到了更广阔的世界。而且这个价位绝对超值，在外面随便上个培训班，没有几千块钱下不来。在这不仅让我看到了新的世界，还多了一项手艺。
        </ul>
    </div>
  </div>

  <div class="col-md-6">
       <div class="col-md-3">
          <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
       </div>

       <div class="col-md-9">
           <ul>
             <%= link_to("@nieyicheng", "http://nieyicheng-blog.logdown.com") %><br />
             这个课程对后续的学习很重要，强烈建议大家不要跳过，因为可以让你避开很多坑。大家有兴趣可以来我的 blog 看看我的学习日记。
           </ul>
       </div>
     </div>
   </div>
 </div>

<br>
