<div class="pull-right">
  <%= link_to("返回", admin_chapters_path, class: "btn btn-default") %>
  <%= link_to("上传Section", new_admin_section_path, :class => "btn btn-default") %>
</div>


<div style="margin-top:10px">
  <table class="table table-bordered">

    <tbody>
    <% @sections.each do |section| %>
    <tr>



      <td>
        <h1><%= section.section %></h1>
        <div class="pull-right">
        <%= link_to("Edit", edit_admin_section_path(section), :class => "btn btn-xs btn-primary") %>
        <%= link_to("Delete", admin_section_path(section), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?"}) %>
      </div>
    </td>
    </tr>
    <% end %>
  </tbody>
  </table>
