<div>
    <%= render :partial => "courses/course1/block_2" %>
</div>
<br>
<hr>

<div>
    <%= render :partial => "courses/course1/block_1" %>
</div>
<br>
<hr>

<%= render :partial => "courses/course1/block_4" %>
<br>
<hr>

<div>
    <%= render :partial => "courses/course1/block_5" %>
</div>
<br>
<hr>

<div>
    <%= render :partial => "courses/course1/block_6" %>
</div>
<br>
