<br><br><br>
<div class="row course-benefit course-content-block">

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img923/5290/zBrAbG.png" alt="" class="img-circle">
        </div>

        <h3>课程目标</h3>
        <p>了解 Rails 的架构<br>实际制作真实投票网站<br>体验如何把脑中的 idea 现实化</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7214/Nozz65.png" alt="" class="img-circle">
        </div>
        <h3 >适合对象</h3>
        <p>
            想自己动作制作网站的同学<br>
            想深入了解 Rails 架构的同学<br>
            已经上过「环境配置」课程的同学</p>
    </div>

    <div class="col-sm-4 text-center">
        <div>
            <img src="http://imageshack.com/a/img921/7569/UBpHu7.jpg" alt="" class="img-circle">
        </div>

        <h3>课前准备</h3>
        <p>一台 Mac 电脑<br>一支笔和一本本子<br>大学四级以上英语水平</p>
    </div>

</div>
<br>
<hr>

<div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Rails 初级教程 - 课程简介
      </h2>
      <br></br>
      <p>本课程通过实际制作投票网站来真实感受制作网站的成就感，体会计算机编程的神奇之处，并深入了解 Rails 的架构。
      </p>
      <p>
          Ruby On Rails 是最为流行的 Web 开发框架之一。同时围绕这一个框架，有着一个非常活跃的社区。Github Twitter New Relic groupon 都是用 Rails 开发的。</p>
      <p>
          Web 开发是个复杂工作，涉及到得技术种类繁多。Ruby On Rails 可以为提供一套 best practice ，让新手不至于在选择和配置各种要素上面迷路，从而能快速达成自己的想法。</p>
      <p>
          本课程带你手把手一起做出一个小而美的投票网站。从章节目标-->步骤-->解释，不求面面俱到，但求实用生动。</p>
      <p>
          通过实作这门课程，你会体悟到 Rails 开发的便捷性以及实现自己 idea 时的满足感。</p>
    </div>
  </div>
</div>
<br>
<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">教师简介</h2>
    <br><br>

      <div class="col-md-4">
          <img src="/images/haha.jpg" alt="" class="img-rounded">
      </div>

      <div class="col-md-8">
          <ul style="font-size:16px;">
              <li>郑伊廷（ Xdite ）</li>
              <li>Rocodev 、 Logdown 、Taipei Rails Meetup网站创始人。</li>
              <li>亚洲知名的Ruby on Rails的开发者。</li>
              <li>Xdite以软件敏捷开发实力著称，曾经领导开发过多个小中大型项目，皆如期准时上线。</li>
              <li>喜欢参加Hackathon ，曾以一个七小时开发的作品拿下 Facebook 2012 年的 World Hack 全球首奖。</li>
              <li>担任过多个国家 RubyConf 的讲者以及出版多本 Ruby on Rails 的教材。</li>
              <li>擅长Rails的开发，专案管理， MVP 实作以及 Growth Hack。</li>
              <li><%= link_to("http://blog.xdite.net", "http://blog.xdite.net") %></li>
          </ul>
      </div>
</div>
</div>
<br>
<hr>

<div class="row">
<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">课程 FAQ</h2>
     <br><br>

      <div class="faq-block">
          <h4>Q：我没有基础可以上这个课吗？</h4>

          <p>可以，但是必须先把「环境配置」课程先上完，毕竟你要现有一个 Rails 开发环境，才能进行下一步的学习与实作。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：遇到问题不会做怎么办？</h4>

          <p>深呼吸～身为一个（未来的）职业程序员，遇到bug是很正常的事，仔细看看error的内容（其实就是英文），通常它会告诉你哪一步错了、少了什么，需要怎么做。真的无法解决，就拍照上slack询问吧。我们有线上助教会为您解答问题。</p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：学到一半不想学了会退费吗？</h4>

          <p>
              抱歉，线上课程一旦出售就不会退费哦。
              <br>
              在下单前请慎重思考三件事：
              <br>
              1、我是否愿意牺牲其他时间来用于学习编程？
              <br>
              2、我是否有强烈学会编程的欲望？
              <br>
              3、我是否能为自己的选择负责？
              <br>
              以上答案均为是，那么请放心下单。
          </p>
      </div>
      <br>

      <div class="faq-block">
          <h4>Q：其他问题</h4>

          <p>请发送至邮箱 hackschoolcn@gmail.com 或 <a href="https://github.com/hackschoolcn/hackschool/issues" target=_new>留言</a> </p>
      </div>
</div>
</div>

<br>
<hr>


<h2 class="text-center">学员心得</h2>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<br><br>
 <div class="col-md-6">
    <div class="col-md-3">
       <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
    </div>

    <div class="col-md-9">
        <ul>
          <%= link_to("@panxiubin", "http://panxiubin-blog.logdown.com") %><br />
          一路跟着教程走下来，让我从一个 Web 开发小白，到现在可以自己动手做网站，这个过程真的是太神奇了。感谢认识 Hackschool 又让我重新认识了一个新的世界，还收获了不一样的思考方式 Computational Thinking，未来的世界就是互联网世界，因为 Hackschool让我不至于被落下。
        </ul>
    </div>
  </div>

  <div class="col-md-6">
       <div class="col-md-3">
          <%= image_tag("http://imageshack.com/a/img921/4563/0SNTbv.png") %>
       </div>

       <div class="col-md-9">
           <ul>
             <%= link_to("@nieyicheng", "http://nieyicheng-blog.logdown.com") %><br />
             这个课程对后续的学习很重要，强烈建议大家不要跳过，因为可以让你避开很多坑。大家有兴趣可以来我的 blog 看看我的学习日记。
           </ul>
       </div>
     </div>
   </div>
 </div>

<br>
