<div class="group">
  <div class="btn-group pull-right" >
    <%= link_to("编辑", edit_admin_chapter_post_path(chapter_id: @chapter.id, post_id: @post.id, from_post_show: 1), :class => "btn btn-default") %>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <%= render_post_video_html(@post) %>
    <%= render_markdown_text(@post.article) %>
  </div>
</div>

<br><br><br>


<% @post.tasks.each_with_index do |task, index| %>
 <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <%= render_students_homework_submitted_status(task) %>
      <span class="col-md-3"><%= render_progress_bar(task.submitted_users_in_percent) %></span>
      <%= link_to("删除此任务", admin_post_task_path(@post, task), method: :delete, class: "btn btn-xs btn-danger pull-right", data: { confirm: "Are you sure?"}) %>
      <%= link_to("编辑任务内容", edit_admin_post_task_path(@post, task), class: "btn btn-xs btn-default pull-right") %>
    </div>
     <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item"><%= render_markdown_text(task.description) %></li>
    </ul>
 </div>
<% end %>
