<h1>我的课程</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>课程</td>
            <td>任务</td>
            <td>教师</td>
            <td>创建日期</td>
        </tr>
    </thead>
    <tbody>
        <% @courses.each do |course| %>
        <tr>
            <td><%= course.id %></td>
            <td>
                <%= link_to(course.title, account_course_chapters_path(course)) %>
            </td>
            <td>
                <%= link_to(render_my_course_task_status(course), account_course_assignments_path(course)) %>
                <%= render_progress_bar(current_user.completed_works_in_percent(course))  %>
            </td>
            <td>
                <%= course.teacher_name %>
            </td>
            <td>
                <%= render_formatted_time(course.created_at) %>
            </td>

        </tr>
        <% end %>
    </tbody>
</table>
