<div class="col-md-10 col-md-offset-1">
    <!-- Nav tabs -->
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">课程详情页</a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">课程目录页</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div>
                <%= render :partial => "courses/block_2" %>
            </div>
            <br>
            <hr>

            <div>
                <%= render :partial => "courses/block_1" %>
            </div>
            <br>
            <hr>

            <%= render :partial => "courses/block_4" %>
            <br>
            <hr>

            <div>
                <%= render :partial => "courses/block_5" %>
            </div>
            <br>
            <hr>

            <div>
                <%= render :partial => "courses/block_6" %>
            </div>
            <br>

        </div>

        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="col-md-10">
              <br>
              <%= render :partial => "course_curriculum_for_preview" %>
            </div>
        </div>

    </div>
</div>
