<%= render :partial => "upper_bar" %>
<h1 class="text-left">选择你的课程方案</h1>
<p>
  <strong>所有方案</strong> 都支持7天内无条件退款。
  <br>2步轻松完成课程支付！
</p>
<br>
<h3 class="enroll-heading"><img src="/images/Step1.png"/> 选择 <span class="text-muted">适合你的方案：</span>
<section class="layer plans">
    <section>

        <section class="third lift plan-tier" onclick="location.href='#';">

            <h4>单个课程</h4>
            <h5>
                <sup class="superscript">¥</sup>
                <span class="plan-price"><%= render_course_price(@course) %></span>
                <sub>
                    /次</sub>
            </h5>


            <ul>
                <li>
                    <strong>1</strong>
                    个课程</li>
                <li>
                    <strong>开课期</strong>
                    有效</li>
                <li>7 天
                    <strong>免费试用</strong>
                </li>
                <li><br></li>
                <li><br></li>
                <li><%= link_to("单次购买", single_purchase_account_orders_path(:course_id => @course.id) , method: :post, :class => "btn btn-default btn-lg") %></li>

            </ul>

        </section>

        <section class="third lift plan-tier callout" onclick="location.href='#';">

            <h6>最受欢迎</h6>
            <h4>年费会员</h4>
            <h5>
                <sup class="superscript">¥</sup>
                <span class="plan-price">500</span>
                <sub>
                    /月</sub>
            </h5>


            <total>¥6000/年</total>

            <ul>
                <li>
                    <strong>所有</strong>
                    课程</li>
                <li>
                    <strong>整年</strong>
                    有效</li>
                <li>7 天
                    <strong>免费试用</strong>
                </li>
                <li>
                    加入 <strong>社群</strong>
                    </li>
                <li><br></li>
                <li><%= link_to("年费会员", yearly_subscription_from_course_view_account_orders_path(course_id: @course.id), method: :post, :class => "btn btn-lg btn-pay") %></li>

            </ul>

        </section>

        <section class="third lift plan-tier" onclick="location.href='#';">

            <h4>特别会员</h4>
            <h5>
                <sup class="superscript">¥</sup>
                <span class="plan-price">750</span>
                <sub>
                    /月</sub>
            </h5>


            <total>¥9000/年</total>

            <ul>
                <li>
                    <strong>所有</strong>
                    课程</li>
                <li>
                    <strong>整年</strong>
                    有效</li>
                <li>7 天
                    <strong>免费试用</strong>
                </li>
                <li>
                    加入 <strong>社群</strong>
                    </li>
                <li>
                    <strong>Xdite</strong>
                    线下指导</li>
                <li><%= link_to("特别会员", "/" , method: :post, :class => "btn btn-default btn-lg") %></li>
            </ul>

        </section>

        <div style="clear: both"></div>
    </section>
</section>
<hr class="course-divider">
