<!-- Carousel
      ================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active ">
      <div class="banner-image" style="background:url(images/slide1.jpg) center;"></div>

      <div class="carousel-caption">
        <h1>全栈工程师计划</h1>
        <p>一站式实现全栈工程师之梦，开启梦想之旅。</p>
        <p>
          <% unless current_user && current_user.valid_subscriber? %>
          <%= link_to("加入年费会员", plans_path, class: "btn btn-lg btn-primary") %>
          <% end %>
        </p>
        <br><br><br><br><br>
      </div>

    </div>
    <div class="item">
      <div class="banner-image" style="background:url(images/slide2.jpg) center;"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>聪明的努力</h1>
          <p>学习进度实时查看、迅速提升技能的挑战。</p>
          <p>
            <% unless current_user && current_user.valid_subscriber? %>
            <%= link_to("加入年费会员", plans_path, class: "btn btn-lg btn-primary") %>
            <% end %>
          </p>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="banner-image" style="background:url(images/slide3.jpg) center;"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>开启梦想之旅</h1>
          <p>实现自己的创意。创业。</p>
          <p>
            <% unless current_user && current_user.valid_subscriber? %>
              <%= link_to("加入年费会员", plans_path, class: "btn btn-lg btn-primary") %>
            <% end %>
          </p>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://imageshack.com/a/img921/7214/Nozz65.png">
      <h2>Rails</h2>
      <p>最高效的WEB编程语言</p>
      <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://imageshack.com/a/img923/5290/zBrAbG.png">
      <h2>Sass</h2>
      <p>最完美的网页布局语言</p>
      <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="/images/haha.png">
      <h2>Saas</h2>
      <p>最专业的软件即是服务</p>
      <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
    </div>
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
<%= link_to(course_path(@courses.first)) do %>
  <div class="row featurette">

    <div class="col-md-7">
      <h2 class="featurette-heading">Rails 环境配置 <span class="text-muted">即刻开始</span>
      </h2>
      <p class="lead text-muted">零基础快速搭建 Mac 开发环境，尝试运用 Rails 创建应用程式，并发布成为一个真实的网站。
      </p>
    </div>

    <div class="col-md-5">

      <img class="featurette-image img-responsive center-block" src="http://imageshack.com/a/img924/6451/igTlXJ.jpg" alt="Generic placeholder image">

    </div>
    <% end %>

  </div>

  <hr class="featurette-divider">
<%= link_to(course_path(@courses.second)) do %>
  <div class="row featurette">

    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Rails 初级教程 <span class="text-muted">马上开发 </span>
      </h2>
      <p class="lead text-muted">用最短的时间，实际开发出一个投票网站，体悟实作网站的成就感。迅速上手 Ruby on Rails。</p>
    </div>

    <div class="col-md-5 col-md-pull-7">

      <img class="featurette-image img-responsive center-block" src="http://imageshack.com/a/img923/9370/ta4i8n.jpg" alt="Generic placeholder image">

    </div>
      <% end %>
  </div>

  <hr class="featurette-divider">
<%= link_to(course_path(@courses.third)) do %>
  <div class="row featurette">

    <div class="col-md-7">
      <h2 class="featurette-heading">Rails 中级教程 <span class="text-muted">快速进阶 </span>
      </h2>
      <p class="lead text-muted">系统打磨技能，熟悉 Rails 生态圈。快速成长为独挡一面、拥有快速打造产品能力的开发者。</p>
    </div>

    <div class="col-md-5">

      <img class="featurette-image img-responsive center-block" src="http://imageshack.com/a/img923/1890/HBFNrA.jpg" alt="Generic placeholder image">

    </div>
    <% end %>
  </div>


  <br><br><br>
  <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->
