<div class="col-md-8 col-lg-offset-2">
  <%= render "courses/search_bar" %>

  <h2>Your search for <%= @query_string %> matches <%= @courses.total_entries %> results: </h2>
  <br>

   <div class="item_div">
     <table class="table table-borderd">
       <%= render :partial => "courses/item", :collection => @courses, :as => :course %>
     </table>

     <div class="text-center">
      <%= will_paginate @courses %>
     </div>
   </div>

</div>
