<div class="row">
  <div class="col-md-6">
    <%= render_course_image(@course, :medium) %>
  </div>

  <div class="col-md-6">

    <div class="course-info">
      <h2><%= @course.title%></h2>

      <%= render_markdown_text(@course.description) %>

      <%= render_course_price(@course) %>
    </div>

    <div class="clearfix">
        <% if current_user && current_user.member_expire_date > Time.now %>
        <%= link_to("前往学习", account_course_chapters_path(@course), class: "btn btn-primary pull-right") %>
      <% else %>
        <%= link_to("立即购买", course_plans_path(@course), class: "btn btn-danger pull-right")%>
      <% end %>
    </div>

  </div>
</div>
