<div class="row">
  <div class="col-md-6">
    <%= image_tag @course.image.medium %>
  </div>

  <div class="col-md-6">

    <div class="course-info">
      <h2><%= @course.title%></h2>

      <%= render_course_description(@course) %>

      <%= render_course_price(@course) %>
    </div>

    <div class="clearfix">
        <%= link_to("立即购买", welcome_index_path, class: "btn btn-danger pull-right")%>
    </div>

  </div>
</div>
