
<div class="container-fluid clearfix">
<!--读取图片并赋予背景-->
  <div class="topAd" style='background:url("<%= @course.image.medium %>")'>
    <div class="courseTitleBg">
      <h1 class="courseTitle"><%= @course.title%><h1>
    </div>
  <h3 class="coursePrice">$ <%= @course.price %></h3>
  <% if current_user && current_user.member_expire_date && current_user.member_expire_date > Time.now %>
    <%= link_to("立刻学习", account_course_chapters_path(@course), class:"btn btn-lg btn-danger pull-center")%>
  <% else  %>
    <%= link_to("火速报名", course_plans_path(@course), class:"btn btn-lg btn-danger pull-center")%>
  <% end %>
  </div>
  <div class="col-md-12">
    <div class="container-fluid center marginTB30">

      <%= render_markdown_text(@course.description) %>
    </div>
  </div>
</div>
