
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("body.jpg") %>
      <div class="carousel-caption">
        加油加油加油
      </div>
    </div>
    <div class="item">
      <%= image_tag("haha.png") %>
      <div class="carousel-caption">
        ...
      </div>

    </div>
    <div class="item">
      <%= image_tag("firefox-big.jpg") %>
      <!-- <img src="hehe.png" alt="..."> -->
      <div class="carousel-caption">
        ...
      </div>

    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container" id="summary-container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "chrome-logo-small.jpg" %>
      <h2>haha</h2>
      <p>chrome</p>
      <p><a class="btn btn-default" href="#" role="button">haha</a></p>
   </div>
    <div class="col-md-4">
      <%= image_tag "firefox-logo-small.jpg" %>
      <h2>haha</h2>
      <p>firefox</p>
      <p><a class="btn btn-default" href="#" role="button">haha</a></p>
    </div>
    <div class="col-md-4">
      <%= image_tag "safari-logo-small.jpg" %>
      <h2>haha</h2>
      <p>safari</p>
      <p><a class="btn btn-default" href="#" role="button">haa</a></p>
    </div>
  </div>
