<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <%= link_to("上传章节", new_admin_course_chapter_path(@course), :class => "btn btn-default") %>
        </div>
        <div class="pull-right">
        <%= link_to("上传FAQ",  admin_course_faqs_path(@course), class: "btn btn-primary" ) %> </li>
        </div>
        <h2><%= @course.title %></h2>

        <br>
        <%= render :partial => "admin/chapters/search_bar" %>
        <br>

        <% @chapters.each do |chapter| %>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <%= render_chapter_status(chapter) %>
                <%= chapter.chapter %>
                <div class="pull-right">
                    <% if chapter.is_hidden %>
                    <%= link_to("点击发布章节", publish_admin_course_chapter_path(@course, chapter), method: :post, class: "btn btn-xs btn-success") %>
                    <% else %>
                    <%= link_to("点击隐藏章节", hide_admin_course_chapter_path(@course, chapter), method: :post, class: "btn btn-xs btn-warning") %>
                    <% end %>
                    <%= link_to("Edit", edit_admin_course_chapter_path(@course, chapter), class: "btn btn-xs btn-primary") %>
                    <%= link_to("Delete", admin_course_chapter_path(@course, chapter), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?"}) %>
                    <%= link_to("Add a post", new_admin_chapter_post_path(chapter), class: "btn btn-xs btn-primary") %>
                    <%= render_chapter_higher_priority_button(chapter) %>
                    <%= render_chapter_lower_priority_button(chapter) %>
                </div>
            </div>
            <!-- List group -->
            <ul class="list-group">
                <% chapter.posts.each do |post| %>
                <li class="list-group-item">
                    <%= render_post_status(post) %>
                    <%= link_to(post.title, admin_chapter_post_path(chapter, post)) %>
                    <% if post.tasks.count > 0 %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                    <div class="pull-right">
                      <%= link_to("添加作业", new_admin_post_task_path(post), class: "btn btn-xs btn-default") %>
                      <%= render_post_higher_priority_button(chapter, post) %>
                      <%= render_post_lower_priority_button(chapter, post) %>
                      <% if post.is_hidden %>
                      <%= link_to("发布", publish_admin_chapter_post_path(chapter, post), method: :post, class: "btn btn-xs btn-info") %>
                      <% else %>
                      <%= link_to("隐藏", hide_admin_chapter_post_path(chapter, post), method: :post, class: "btn btn-xs btn-default") %>
                      <% end %>
                      <%= link_to("Edit", edit_admin_chapter_post_path(chapter, post), class: "btn btn-xs btn-default") %>
                      <%= link_to("Delete", admin_chapter_post_path(chapter, post), method: :delete, class: "btn btn-xs btn-default", data: { confirm: "Are you sure?"}) %>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>

        <% end %>

    </div>
</div>
