<div class="col-md-8 col-lg-offset-2">
  <%= render "admin/chapters/search_bar" %>

  <h2>Your search for <%= @query_string %> matches <%= @posts.total_entries %> results: </h2>
  <br>

   <div class="item_div">
     <table class="table table-borderd">
       <%= render :partial => "admin/chapters/item", :collection => @posts, :as => :post %>
     </table>

     <div class="text-center">
      <%= will_paginate @posts %>
     </div>
   </div>

</div>
