<div class="col-md-10">
  <div class="pull-left">
    <%= link_to("进入控制台", admin_course_chapters_path(course), class: "btn btn-xs btn-primary") %>
  </div>

  <div class="dropdown pull-right">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      选项
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to("编辑首页课程信息", edit_admin_course_path(course)) %></li>
      <li><%= link_to("编辑课程详情信息", edit_course_admin_course_path(course)) %></li>
      <li>
        <%= link_to("删除", admin_course_path(course), method: :delete,   data: { confirm:  "Are you sure?" } ) %>
      </li>
      <li>

        <% if course.is_hidden %>
        <%= link_to("上架课程", publish_admin_course_path(course), method: :post) %>
        <% else %>
        <%= link_to("下架课程", hide_admin_course_path(course), method: :post) %>
        <% end %>

      </li>

    </ul>
  </div>
</div>
