<h1> New Course </h1>
<<<<<<< HEAD
<%= simple_form_for [:admin, @course] do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :teacher_name %>
<%= f.input :image %>
<%= f.submit "Create Course" %>
<% end %>


<script>
var simplemde = new SimpleMDE({ element: document.getElementById("course_description") });
</script>
=======
<%= render "form" %>
>>>>>>> origin/develop
