<!DOCTYPE html>
<html>
    <head>
        <%= render_page_title_tag %>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'simplemde.min' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'simplemde.min' %>

    </head>
    <body>
      <div class="container-fluid">
        <%= render "common/navbar" %>
      </div>

      <div class="clearfix">
        <%= render "common/flashes" %>
      </div>
      <%= yield %>

    <div class="container">
        <%= render "common/footer" %>
    </div>
  </body>
</html>
