<!DOCTYPE html>
<html>
    <head>
        <title>Hackschool</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'simplemde.min' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'simplemde.min' %>

    </head>
    <body style="background-image: url(/crossword_background.png);">
        <%= render "common/navbar" %>
        <div class="container">
            <%= render "common/flashes" %>
            <%= yield %>

        </div>

    </body>
    <div class="container">
        <%= render "common/footer" %>
    </div>

</html>
