<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title_tag %>
    <%= render_page_description_meta_tag %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/images/ruby.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>
  <style>
  body {
    padding-top: 50px;
  }
  </style>

  <body>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>


      <div class="page-wrap">
        <%= yield %>
      </div>

      <%= render "common/footer" %>

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%= yield :app_javascript %>

      <script type='text/javascript'>
      (function(m, ei, q, i, a, j, s) {
          m[i] = m[i] || function() {
              (m[i].a = m[i].a || []).push(arguments)
          };
          j = ei.createElement(q),
              s = ei.getElementsByTagName(q)[0];
          j.async = true;
          j.charset = 'UTF-8';
          j.src = '//static.meiqia.com/dist/meiqia.js';
          s.parentNode.insertBefore(j, s);
      })(window, document, 'script', '_MEIQIA');
      _MEIQIA('entId', 31157);
    </script>

  </body>

</html>
