<!DOCTYPE html>
<html>
  <head>
    <title>Hackschool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  body {
    padding-top: 50px
  }
  </style>

  <body>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>

  </body>
    <div class="container">
      <%= render "common/footer" %>
    </div>
</html>
