
<!DOCTYPE html>
<html>

  <head>
    <link rel="shortcut icon" href="/images/ruby.png" />

      <%= render_page_title_tag %>
      <%= render_page_description_meta_tag %>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'simplemde.min' %>


  </head>
  <body style="padding-top :0px; margin-bottom: -30px;">

    <%= render "common/navbar_home_page" %>

    <!-- Carousel
    ================================================== -->
    <%= yield %>

    <!-- /END THE FEATURETTES -->
<div class="margin-bottom: 0px;">

</div>



    <!-- FOOTER -->
    <%= render "common/home_page_footer" %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'simplemde.min' %>

    <%= yield :application_javacript %>

    <script type='text/javascript'>
        (function(m, ei, q, i, a, j, s) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = '//static.meiqia.com/dist/meiqia.js';
            s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 30782);
    </script>

</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
