<!DOCTYPE html>
<html>
    <head>
        <title>HackSchool</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
=======
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
>>>>>>> origin/develop
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">

                <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
<<<<<<< HEAD
=======
                    <li ><%= link_to("My Courses", account_courses_path ) %> </li>
>>>>>>> origin/develop
                    <li ><%= link_to("My Orders", account_orders_path ) %> </li>
                </ul>

              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
